input::placeholder {
   padding-left: 4px; 
   color: rgb(119, 119, 119);
}

.container {
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
    background: linear-gradient(to right, blue, purple);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container input
.container form { 
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: rgb(231, 231, 231);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container form h1 {
    text-align: center;
}
.container form input {
    margin-top: 8px;
    width: 320px;
    height: 24px;
}